NFTA-Metro/Web References/CacheService/CacheService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ClearCache">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearCacheResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ClearCacheSoapIn">
    <wsdl:part name="parameters" element="tns:ClearCache" />
  </wsdl:message>
  <wsdl:message name="ClearCacheSoapOut">
    <wsdl:part name="parameters" element="tns:ClearCacheResponse" />
  </wsdl:message>
  <wsdl:portType name="CacheServiceSoap">
    <wsdl:operation name="ClearCache">
      <wsdl:input message="tns:ClearCacheSoapIn" />
      <wsdl:output message="tns:ClearCacheSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CacheServiceSoap" type="tns:CacheServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClearCache">
      <soap:operation soapAction="http://tempuri.org/ClearCache" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CacheServiceSoap12" type="tns:CacheServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClearCache">
      <soap12:operation soapAction="http://tempuri.org/ClearCache" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CacheService">
    <wsdl:port name="CacheServiceSoap" binding="tns:CacheServiceSoap">
      <soap:address location="http://services.nfta.com/CacheService.asmx" />
    </wsdl:port>
    <wsdl:port name="CacheServiceSoap12" binding="tns:CacheServiceSoap12">
      <soap12:address location="http://services.nfta.com/CacheService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>